/* --- Hamburger Styles 
.hamburger {
  display: none;
  font-size: 32px;
  background: none;
  border: white;
  color: red;
  cursor: pointer;
  margin-right: 10px;
}

/* --- Responsive Nav 
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
--- */
 /* HEADER & NAVIGATION STYLES */
header {
  background-color: #1c2e4a;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header-logo {
  height: 120px;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.main-nav a {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s, color 0.3s;
}

.main-nav a:hover {
  background-color: rgba(252, 255, 243, 0.2);
  color: #AC162C;
}
